  #components-layout-demo-side .logo {
      height: 32px;
      margin: 16px;
      background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
      background: #fff;
  }
  
  .title__table {
      font-size: 26px;
      color: black;
  }
  
  .button__table {
      margin-bottom: 10px;
  }
  
  .btn__row {
      background-color: transparent;
      border: none;
  }