.container {
    height: 70vh;
}

.wapper__login {
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255 255 255 / 10%), 0 8px 16px rgb(255 255 255 / 10%);
    box-sizing: border-box;
    margin-top: 100px;
    padding: 20px 30px;
    width: 396px;
}

.wapper__bg {
    margin-top: 10vh;
}

.lable {
    font-weight: 500;
}

.br {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    width: 330px;
}

.login__input {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
}

.btn__login {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}

.forgot {
    margin: 10px 0px;
    text-align: center;
    width: 330px;
}